<div class="row">
  <%= turbo_frame_tag "this_form" do %>
    <%= form_with model: comment, data: { controller: "dropdown", action: "change->dropdown#submit" } do |form| %>
      <% if comment.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

          <ul>
            <% comment.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mt-2">
        <%= form.label :title, class: "form-label" %>
        <%= form.text_field :title, class: "form-control" %>
      </div>

      <div class="mt-2">
        <%= form.label :description, class: "form-label" %>
        <%= form.text_area :description, size: "70x5", class: "form-control" %>
      </div>

      <div class="mt-2">
        <%= form.collection_select :comment_type_id, @comment_types, :id, :name, class:"form-select" %>
      </div>

      <div class="mt-2">
        <%= select_tag :zone, options_from_collection_for_select(@zones, "id", "name", @zone&.id), class: "form-select" %>
      </div>

      <div class="mt-2">
        <%= select_tag :person, options_from_collection_for_select(@people, "id", "name", @person&.id), class: "form-select" %>
      </div>

      <div class="mt-2">
        <%= form.submit "Guardar Comentario", class: "btn btn-sm btn-success" %>
      </div>

    <% end %>
  <% end %>
</div>

