<div class="row shadow">
  <%= form_with(model: person) do |form| %>
  <% if person.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
        <% person.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="m-2">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="m-2">
    <%= form.collection_select :zone_id, @zones, :id, :name, class: "form-selection" %>
  </div>

  <div class="m-2">
    <%= form.submit "Guardar Persona", class: "btn btn-sm btn-success" %>
  </div>
<% end %>
</div>

